.btn {
	border: none;
	height: 40px;
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 0 24px;
	border-radius: 5px;
	min-width: 100px;
	cursor: pointer;
	color: #1f1f1f;
	font-weight: 500;
}
.btn.btn-default {
	background: #f3f3f3;
	color: #2c2c2c;
}

.btn.btn-danger {
	background: #d35e0f;
	color: #fff;
}

.btn.btn-success {
	background: #038203;
	color: #fff;
}

@media screen and (max-width: 480px) {
	.btn {
		width: 100%;
	}
}
