
.btn{
	border: none;
	height: 40px;
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 0 24px;
	border-radius: 5px;
	min-width: 100px;
	cursor: pointer;
}
.btn.btn-default{
	background: #038203;
	color: #fff;
	font-size: 14px;
	outline: none;
}

.btn.btn-secondary{
	background: #f3f3f3;
	color: #2c2c2c;
}
.btn.btn-danger{
	background: #d35e0f;
  	color: #fff;
}