.tag-input-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
    padding: 8px 15px;
    border: 1px solid #cecece;
    outline: none;
    height: 42px;
}
.tag-input-container input{
    height: 100%;
    outline: none;
    flex: 1;
    border: none;
}

