.todo-item {
  list-style-type: none;
  padding: 17px 0px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.todo-content{
  display: flex;
  gap: 32px;
   flex:1 auto auto;
}
.todo-content .task{
  display: flex;
  align-items: center;
 
}
.tags-container{
  display: flex;
  gap: 6px;
}
.todo-item input {
  margin-right: 15px;
}
.todo-item button {
  
  padding: 3px 7px;
  cursor: pointer;
  outline: none;
}

.task-view{
  margin-bottom: 3rem;
  max-height: 500px;
  overflow-y: auto;
  padding: 0 1rem 0 ;
}
.task-view::-webkit-scrollbar{
  width: 6px;

}
.task-view::-webkit-scrollbar-thumb{
  background: #1f1f1f;
}

.task-view::-webkit-scrollbar-track{
  background: #eaeaea;
}