* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Rubik', sans-serif;
	line-height: 1.4;
	color: #1f1f1f;
}
.container {
	max-width: 700px;
	margin: 0 auto;
	padding: 0 10px;
}
.form-container {
	display: flex;
	width: 100%;
	flex-direction: column;
}
.input-text {
	font-size: 14px;
	padding: 12px 15px;
	border: 1px solid #cecece;
	outline: none;
	font-weight: 400;
	height: 44px;
	width: 100%;
	border-radius: 5px;
}
.form-item {
	margin-bottom: 16px;
}

.input-text::placeholder {
	color: #999;
}

.task-view {
	margin-bottom: 48px;
}

@media screen and (max-width: 769px) {
	.container {
		padding: 0 24px;
	}
}
